$secondary: #f0ebd8;
$primary: #0d1321;

$font-family-sans-serif: "ABeeZee";

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-collapse {
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.custombg {
  background: #3e5c76;
  background-size: cover;
}

.card,
a {
  border: none;
  text-decoration: none;
  color: #f0ebd8;
}

.card-body {
  background-color: #1d2d44;
}

.card-body p {
  color: #f0ebd8;
}

.card-img,
.card-img-top {
  object-fit: cover;
  aspect-ratio: 1/0.7;
}

footer {
  height: 125px;
  background-color: #3e5c76;
}
