@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

body {
  color: #555;
  margin: 0;
  font-family: "Padauk", sans-serif;
}

#header {
  background-color: #1b1b1b;
  height: 150px;
  line-height: 150px;
}

#header a {
  margin-left: 50px;
  margin-right: 25px;
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

#header a:hover {
  color: rgb(73, 62, 175);
}

#header-title {
  display: block;
  float: left;
  font-family: "Dosis", sans-serif;

  font-size: 38px;
  font-weight: 700;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  font-weight: bold;
  display: inline;
  padding-left: 1px;
  margin-right: 20px;
}

#content {
  background: linear-gradient(#1b1b1b, rgb(44, 86, 100), #1b1b1b);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.post,
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 35px;
}

.about {
  text-align: center;
}

.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border: aliceblue 3px solid;
}

.post-author img,
.about-author img {
  border-radius: 50px;
}

.post-author {
  background-color: #1b1b1b;
  padding: 8px 10px 8px 10px;
  width: max-content;
  border-radius: 50px;
}

.post-author span {
  margin-left: 16px;
  padding: 2px;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.post-date {
  color: #afafaf;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.post-title {
  color: aliceblue;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}

p {
  line-height: 1.5;
  color: aliceblue;
  font-size: 19px;
}

#footer {
  background-color: #1b1b1b;
  padding: 30px 0;
}

#footer h4 {
  margin-left: 20px;
  color: aliceBlue;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#footer p {
  margin-left: 25px;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

a {
  color: #f6a623;
  text-decoration: none;
}

a:hover {
  color: #ffdba1;
}

.column {
  margin-left: 125px;
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
