@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

body {
  color: #555;
  margin: 0;
  font-family: "Padauk", sans-serif;
}

#header {
  background-color: #ece0e0;
  height: 250px;
  line-height: 150px;
  border: rgb(46, 78, 20) solid 5px;
}

#my-logo {
  border: slategray solid 5px;
}

#header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: rgb(36, 109, 182) solid 5px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

#header a:hover {
  color: rgb(73, 62, 175);
}

#header-title {
  display: block;
  float: left;

  font-size: 40px;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  font-weight: bold;
  display: inline;
  margin: 0 20px 0 20px;
  border: rgb(216, 16, 1) solid 5px;
}

#content {
  background: linear-gradient(#ece0e0, rgb(255, 241, 221), #ece0e0);
}

.container {
  max-width: auto;
  margin: 0 auto;
  border: rgb(73, 62, 175) dotted 4px;
  text-align: left;
}

.post,
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 35px;
}

.lil-name {
  margin: 1em;
}

.about {
  text-align: center;
}

.link-icon {
  height: 15px;
  color: rgb(63, 53, 151);
}

.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border: aliceblue 3px solid;
}

.post-author img,
.about-author img {
  border-radius: 50px;
}

.post-author {
  background-color: #1b1b1b;
  padding: 8px 10px 8px 10px;
  width: max-content;
  border-radius: 50px;
}

.post-author span {
  margin-left: 16px;
  padding: 2px;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.post-date {
  color: #464646;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.post-title {
  color: rgb(0, 0, 0);
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}

p {
  line-height: 1.5;
  color: rgb(0, 0, 0);
  font-size: 19px;
}

#footer {
  background-color: #ece0e0;
  padding: 30px 0;
}

#footer h4 {
  margin-left: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#footer p {
  margin-left: 25px;
  color: rgb(0, 0, 0);
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

a {
  color: rgb(63, 53, 151);
  text-decoration: none;
}

a:hover {
  color: #bd7400;
  font-weight: 800;
}

.column {
  margin-left: 125px;
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
