.listItem {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: lightgray;
  width: 25%;
  margin-top: 10px;
}

.listItem:hover {
  border: 2px solid gray;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title input {
  background: transparent;
  font-size: 1.5em;
  font-weight: bold;
  width: 60%;
  padding: 0;
  text-align: center;
}

.title .checkbox {
  text-align: center;
  width: 20%;
}
.title .checkbox:hover {
  cursor: pointer;
}
.title .actions {
  text-align: center;
  width: 20%;
}
.projectImage {
  text-align: center;
}

.projectImage img {
  width: 90%;
  border-radius: 25px;
  padding-bottom: 10px;
}
