html,
body,
#app,
#app > div {
  height: 100%;
}

main {
  height: 100vh;
  background-image: url("https://media4.giphy.com/media/9BWF0WWyraTfHD6RHI/giphy.gif?cid=ecf05e47jrxj5xnwjgnyo7pit6w6krjaa0zrarm6s71biqcs&rid=giphy.gif&ct=g");
  background-size: cover;
  /* background-position: 10%; */
}
