html,
body,
#app,
#app > div {
  height: 100%;
}

main {
  height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp2736652.gif");
  background-size: cover;
  background-position: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.headerLink {
  padding: 3%;
}

.headerLinkButton {
  color: white;
  border-radius: 50%;
}

.headerLinkButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px white;
  border-radius: 50%;
}

.titleBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
